<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PurplePlayer</title>
    <link rel="stylesheet" href="./style.css" type="text/css" />
    <script src="https://kit.fontawesome.com/aaff1c18e4.js"></script>
  </head>
  <body>
    <main>
      <div class="logo">
        <img
          src="https://i.vimeocdn.com/portrait/20665551_300x300"
          alt="purple fox"
        />
        <p>Placeholder for errors</p>
      </div>
      <div class="artwork">
        <img src="./img/music-placeholder.png" alt="Placeholder" />
      </div>
      <div class="currently">
        <div class="details">
          <h2>Title</h2>
          <p>Artist</p>
        </div>
        <div class="add-playlist">
          <button class="add"><i class="fas fa-plus"></i></button>
          <button class="favorite"><i class="fas fa-star"></i></button>
        </div>
      </div>
      <div class="playlist-header">
        <h2>Playlists</h2>
        <button><i class="fas fa-plus"></i></button>
      </div>
      <div class="playlist">
        <div>All track</div>
        <div>Favorites</div>
      </div>
      <div class="tracks">
        <ol>
          <li>
            <span class="track">First track</span>
            <span class="time">3:30</span>
          </li>
        </ol>
      </div>
      <div class="control-panel">
        <audio controls>
          <source
            src="./audio/01-rage_against_the_machine-people_of_the_sun-ksi_int.mp3"
            type="audio/mpeg"
          />
          <p>
            Your browser doesn't support HTML5 audio. Here is a
            <a href="myAudio.mp4">link to the audio</a> instead.
          </p>
        </audio>
      </div>
    </main>
    <script src="./frontend.js"></script>
  </body>
</html>
